<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sliding Menu</title>
    <link rel="icon" type = "image/x-icon" href="../photos/favicon.png">
    <link rel="stylesheet" href="../css/home2.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <link  rel="stylesheet"  href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css"/>
  <!-- for spinner -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.9.1/chart.min.js"></script>
   <!-- Chart JS Plugin for displaying text over chart -->
   <script src="https://cdnjs.cloudflare.com/ajax/libs/chartjs-plugin-datalabels/2.1.0/chartjs-plugin-datalabels.min.js"></script>
   <!-- Script -->
   <script defer src="../js/script.js"></script>
   <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
   <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
   <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&family=Didact+Gothic&display=swap" rel="stylesheet">

<!-- spinner ends -->

    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>

    <script  src="../js/home2.js" defer charset="utf-8"></script>

</head>

<body>

<!-- header -->
<header class="top-logo-section">

    <div id="logo">
      <a></a>
    </div>
    <div class="header_balance">
      Balance : <span class="s_balance">0.00</span>
    </div>
  </header>

<main>

  <div id="loading">
     <div class="loading_backgound">

     </div>
     <div class="scale_object">

     </div>
     <div class="loading_backgound_img">

     </div>
  </div>

  <div class="main-menu">
    <ul>
      <section>
        <li class="home menu-item">
          <i class="fa fa-home"></i>
          Events</li>

          <li class="profile menu-item">
            <i class="fa-solid fa-user-group"></i>
            Profile</li>

            <li class="promotion_page_btn menu-item">
              <i class="fa-solid fa-chart-line"></i>
              Promotion</li>
            </section>
            <section class="links">
              <li class="affiliate_center_btn affiliate menu-item">
                <i class="fa-solid fa-people-roof">
                </i>Affiliate</li>
                <li class="tutorial_page_btn menu-item">
                  <i class="fa-regular fa-circle-play"></i>
                  Tutorial</li>
                  <li class="records menu-item">
                    <i class="fa-solid fa-scroll"></i>
                    Records</li>
                    <li class="trades trade-list menu-item">
                      <i class="fa fa-hashtag"></i>
                      Trade's</li>
                    </section>
                  </ul>
                </div>
  <!-- creatingn the profile page  -->

  <section class="main_pages" id="profile_page">

    <div class="profile_top">
      <div class="profile_avatar">

      </div>
      <h2 class="s_name">HERO FB</h2>
      <div class="profile_vip">
        <h3 class="s_vip">VIP 0</h3>
      </div>
    </div>
    <div class="profile_middle">
        <div class="profile_pay_btns">
          <div id="deposit_btn">
             <h2>DEPOSIT</h2>
          </div>
          <div id="withdraw_btn">
            <h2>WITHDRAW</h2>
          </div>
        </div>

        <div class="profile_function_btns">

          <div class="profile_btns">
            <div class="profile_func_logo">
              <div  class="info profile_func_logo_back">
                <i class="fa-regular fa-address-card"></i>
              </div>
            </div>
            <div class="profile_func_des">
              <h3>PERSONAL INFORMATION</h3>
              <h5>Name , withdrawal code</h5>
            </div>
            <div class="profile_func_arrow">
              <i class="fa-solid fa-chevron-right"></i>
            </div>

          </div>
          <div class="profile_btns">
            <div class="profile_func_logo">
              <div class="account profile_func_logo_back">
               <i class="fa-solid fa-building-columns"></i>
              </div>
            </div>
            <div class="profile_func_des">
              <h3>BANK ACCOUNT</h3>
              <h5>Add+ bank account</h5>
            </div>
            <div class="profile_func_arrow">
              <i class="fa-solid fa-chevron-right"></i>
            </div>

          </div>
          <div class="profile_btns">
            <div class="profile_func_logo">
              <div class=" payments profile_func_logo_back">
               <i class="fa-solid fa-file-invoice-dollar"></i>
              </div>

            </div>
            <div class="profile_func_des">
              <h3>FUNDS RECORDS</h3>
              <h5>withdrawal , deposit</h5>
            </div>
            <div class="profile_func_arrow">

                <i class="fa-solid fa-chevron-right"></i>
            </div>

          </div>
          <div class="profile_btns">
            <div class="profile_func_logo">
              <div  class="settings profile_func_logo_back">
                <i class="fa-solid fa-gear"></i>
              </div>

            </div>
            <div class="profile_func_des">
              <h3>SETTING</h3>
              <h5>settings</h5>
            </div>
            <div class="profile_func_arrow">

                <i class="fa-solid fa-chevron-right"></i>
            </div>

          </div>
          <div class="profile_btns">
            <div class="profile_func_logo">
              <div  class="cs profile_func_logo_back">
                <i class="fa-solid fa-phone"></i>
              </div>

            </div>
            <div class="profile_func_des">
               <h3>CUSTOMER SERVICE</h3>
               <h5>Contact us</h5>
            </div>
            <div class="profile_func_arrow">
                <i class="fa-solid fa-chevron-right"></i>
            </div>

          </div>
          <div class="profile_btns">
            <div class="profile_func_logo">
              <div  class="download profile_func_logo_back">
                <i class="fa-solid fa-cloud-arrow-down"></i>
              </div>
            </div>
            <div class="profile_func_des">
              <h3>DOWNLOAD</h3>
              <h5>App download</h5>
            </div>
            <div class="profile_func_arrow">

                <i class="fa-solid fa-chevron-right"></i>
            </div>

          </div>
          <div class="profile_btns">
            <div class="profile_func_logo">
              <div class=" about_us profile_func_logo_back">

              </div>

            </div>
            <div class="profile_func_des">
              <h3>ABOUT US</h3>
              <h5>About us</h5>
            </div>
            <div class="profile_func_arrow">
              <i class="fa-solid fa-chevron-right"></i>
            </div>

          </div>

        </div>
        <div class="profile_description">
          <div class="company_logo">

          </div>
          <p style="font-size : 0.7rem">
            HERO FB IS A GAMBLING PLATEFORM. HERO FB IS ONLY AVAILABLE FOR PEOPLE WHO ARE ABOVE 18 YEARS OF AGE, HERO FB IS THE SOLE OWNER AND RESERVES TEH RIGHT TO "HEOR FB" TRADEMARK LOGOS,ASSETS,CONTENT,INFORMATION , ETC. USED IN WEBSITE EXCEPT THE THIRD PARY CONTENT. HERO FB GAMES DOES NOT ACKNOWLEDGE THE ACCURACY OR RELAIABILITY OF THIRD PARTY CONTENT. GAMBLING APPLICATION ARE THE ACCURACY OR RELAIABILITY OF THIRD PARY CONTENT. GAMBLING APPLICATIONS ARE SUBJECT TO RISK, PLAY AR YOUR OWN RISK.
          </p>
          <h4>	&#169; 2022, HERO FB ALL RIGHT RESERVED.</h4>
        </div>

    </div>


    <section id="info_pop" class="profile_pops">

      <div class="back_btn">
        <i class="fa-sharp fa-solid fa-angle-left"></i>
      </div>

      <div class="profile_pop_top">

        <div class="profile_func_logo">
          <div class=" info profile_func_logo_back">
           <i class="fa-solid fa-building-columns"></i>
          </div>
        </div>
        <div class="profile_func_des">
          <h3>PERSONAL INFORMATION</h3>
          <h5>Name  , withdrawal code</h5>
        </div>
        <div class="profile_func_arrow">
          <i class="fa-solid fa-chevron-right"></i>
        </div>

      </div>

      <div class="profile_pop_middle">

          <div class="profile_pop_function_btns">

            <div class="info_btns btns">
              <div class="profile_func_logo">
                <div class="info profile_func_logo_back">
                  <i class="fa-regular fa-address-card"></i>
                </div>
              </div>
              <div class="profile_func_des">
                <h3>NAME</h3>
                <h5>Name</h5>
              </div>
              <div class="profile_func_arrow">
                 <i class="fa-solid fa-chevron-right"></i>
              </div>
            </div>
            <div class="info_btns info_change_btns btns">
              <div class="profile_func_logo">
                <div class="info profile_func_logo_back">
                 <i class="fa-solid fa-building-columns"></i>
                </div>
              </div>
              <div class="profile_func_des">
                <h3>WITHDRAWAL CODE</h3>
                <h5>Set your withdrawal code</h5>
              </div>
              <div class="profile_func_arrow">
                <i class="fa-solid fa-chevron-right"></i>
              </div>

            </div>
            <div class="info_btns info_change_btns btns">
              <div class="profile_func_logo">
                <div class="info profile_func_logo_back">
                  <i class="fa-solid fa-fingerprint"></i>
                </div>

              </div>
              <div class="profile_func_des">
                <h3>PASSWORD</h3>
                <h5>Login password</h5>
              </div>
              <div class="profile_func_arrow">
                <i class="fa-solid fa-chevron-right"></i>
              </div>

            </div>
            <div class="info_btns btns">
              <div class="profile_func_logo">
                <div  class="info profile_func_logo_back">
                  <i class="fa-solid fa-cloud-arrow-down"></i>
                </div>
              </div>
              <div class="profile_func_des">
                <h3>PHONE NUMBER</h3>
                <h5>Phone number</h5>
              </div>
              <div class="profile_func_arrow">
                 <i class="fa-solid fa-chevron-right"></i>
              </div>

            </div>

          </div>

      </div>

      <!-- change withdrawal -->
      <section class="info_inner_popups info_popups">

        <div class="info_change_box">

          <h3>SET WITHDRAWAL CODE</h3>
          <div class="info_btns btns">
            <div class="profile_func_logo">
              <div class="info profile_func_logo_back">
                <i class="fa-regular fa-address-card"></i>
              </div>
            </div>
            <div class="profile_func_des">
              <input class="withdrawal_change_inpt" type="number" placeholder="PREVIOUS CODE" value="" />
            </div>
            <div class="profile_func_arrow">
               <i class="fa-solid fa-chevron-right"></i>
            </div>
          </div>
          <div class="info_btns btns">
            <div class="profile_func_logo">
              <div class="info profile_func_logo_back">
                <i class="fa-regular fa-address-card"></i>
              </div>
            </div>
            <div class="profile_func_des">
              <input class="withdrawal_change_inpt" type="text" placeholder="NEW CODE" value="" />
            </div>
            <div class="profile_func_arrow">
               <i class="fa-solid fa-chevron-right"></i>
            </div>
          </div>
          <div class="info_btns btns">
            <div class="profile_func_logo">
              <div class="info profile_func_logo_back">
                <i class="fa-regular fa-address-card"></i>
              </div>
            </div>
            <div class="profile_func_des">
              <input class="withdrawal_change_inpt" type="number" placeholder="CONFIRM NEW CODE" value="" />
            </div>
            <div class="profile_func_arrow">
               <i class="fa-solid fa-chevron-right"></i>
            </div>
          </div>
          <div class="confirmation_btns">
            <div id="sv_withdrawal_code" class="submit">
              REQUEST
            </div>
            <div class="cancel">
              CANCEL
            </div>
          </div>
        </div>
      </section>
      <!-- change password -->
      <section class="info_inner_popups info_popups">

        <div class="info_change_box">

          <h3>CHANGE PASSWORD</h3>
          <div class="info_btns btns">
            <div class="profile_func_logo">
              <div class="info profile_func_logo_back">
                <i class="fa-regular fa-address-card"></i>
              </div>
            </div>
            <div class="profile_func_des">
              <input class="change_pass_input" type="text" placeholder="PREVIOUS PASS" value="" />
            </div>
            <div class="profile_func_arrow">
               <i class="fa-solid fa-chevron-right"></i>
            </div>
          </div>
          <div class="info_btns btns">
            <div class="profile_func_logo">
              <div class="info profile_func_logo_back">
                <i class="fa-regular fa-address-card"></i>
              </div>
            </div>
            <div class="profile_func_des">
              <input class="change_pass_input" type="text" placeholder="NEW PASS" value="" />
            </div>
            <div class="profile_func_arrow">
               <i class="fa-solid fa-chevron-right"></i>
            </div>
          </div>
          <div class="info_btns btns">
            <div class="profile_func_logo">
              <div class="info profile_func_logo_back">
                <i class="fa-regular fa-address-card"></i>
              </div>
            </div>
            <div class="profile_func_des">
              <input class="change_pass_input" type="text" placeholder="NEW PASSWORD" value="" />
            </div>
            <div class="profile_func_arrow">
               <i class="fa-solid fa-chevron-right"></i>
            </div>
          </div>
          <div class="confirmation_btns">
            <div id="chang_pass_btns"  class="submit">
              REQUEST
            </div>
            <div class="cancel">
              CANCEL
            </div>
          </div>
        </div>
      </section>

    </section>

    <section id="acount_pop" class="profile_pops">

      <div class="back_btn">
        <i class="fa-sharp fa-solid fa-angle-left"></i>
      </div>

      <div class="profile_pop_top">

        <div class="profile_func_logo">
          <div class=" account profile_func_logo_back">
           <i class="fa-solid fa-building-columns"></i>
          </div>
        </div>
        <div class="profile_func_des">
          <h3>BANK ACCOUNT</h3>
          <h5>Add+ bank account</h5>
        </div>
        <div class="profile_func_arrow">
          <i class="fa-solid fa-chevron-right"></i>
        </div>

      </div>

      <div class="profile_pop_middle">

          <div class="profile_pop_function_btns">
            <div class="account_top_logo">
              <div class="profile_func_logo">
                <div class="account profile_func_logo_back">
                  <i class="fa-solid fa-building-columns"></i>
                </div>
              </div>
            </div>
            <div class="account_card">

              <div class="card_box">
                <div class="acc_number">
                  <span>****</span>
                  <span>****</span>
                  <span>****</span>
                  <span class="s_acc_number">0000</span>
                </div>
                <div class="acc_name">
                  <span style="text-transform : uppercase" class="bank_name">HELLO THERE</span>
                </div>
              </div>

            </div>

            <div class="account_btns btns">
              <div class="profile_func_logo">
                <div class="account profile_func_logo_back">
                  <i class="fa-solid fa-building-columns"></i>
                </div>
              </div>
              <div class="profile_func_des">
                <h3>BANK ACCOUNT</h3>
                <h5>Add+ bank account</h5>
              </div>
              <div class="profile_func_arrow">
                 <i class="fa-solid fa-chevron-right"></i>
              </div>
            </div>

          </div>

      </div>

      <section class="info_popups account_inner_popups">

        <div class="info_change_box">

          <h3>ADD BANK ACCOUNT</h3>

          <div class="account_btns btns">
            <div class="profile_func_logo">
              <div class="account profile_func_logo_back">
                <i class="fa-regular fa-address-card"></i>
              </div>
            </div>
            <div class="profile_func_des">
              <input class="bank_details_inpt" type="text" placeholder="BANK NAME" value="" />
            </div>
            <div class="profile_func_arrow">
               <i class="fa-solid fa-chevron-right"></i>
            </div>
          </div>
          <div class="account_btns btns">
            <div class="profile_func_logo">
              <div class="account profile_func_logo_back">
                <i class="fa-regular fa-address-card"></i>
              </div>
            </div>
            <div class="profile_func_des">
              <input class="bank_details_inpt"type="text" placeholder="YOUR NAME" value="" />
            </div>
            <div class="profile_func_arrow">
               <i class="fa-solid fa-chevron-right"></i>
            </div>
          </div>
          <div class="account_btns btns">
            <div class="profile_func_logo">
              <div class="account profile_func_logo_back">
                <i class="fa-regular fa-address-card"></i>
              </div>
            </div>
            <div class="profile_func_des">
              <input class="bank_details_inpt" type="text" placeholder="ACC NUMBER" value="" />
            </div>
            <div class="profile_func_arrow">
               <i class="fa-solid fa-chevron-right"></i>
            </div>
          </div>

          <div class="account_btns btns">
            <div class="profile_func_logo">
              <div class="account profile_func_logo_back">
                <i class="fa-regular fa-address-card"></i>
              </div>
            </div>
            <div class="profile_func_des">
            <input class="bank_details_inpt" type="text" placeholder="IFSC CODE" value="" />
            </div>
            <div class="profile_func_arrow">
               <i class="fa-solid fa-chevron-right"></i>
            </div>
          </div>

          <div class="confirmation_btns">
            <div id="sv_bank_details_btn" class="submit">
              REQUEST
            </div>
            <div class="cancel">
              CANCEL
            </div>
          </div>

        </div>
      </section>

    </section>


    <section id="funds_pop" class="profile_pops">

      <div class="back_btn">
        <i class="fa-sharp fa-solid fa-angle-left"></i>
      </div>
      <div class="deposits_sec">
        <div class="funds_title">
          <h2>DEPOSIT</h2>
        </div>
        <div id="deposit_data_box" class="funds_data_box">
 <!-- dynamic content will be added here -->
        </div>

      </div>
      <div class="withdrawal_sec">
        <div class="funds_title">
          <h2>WITHDRAWAL</h2>
        </div>
        <div id="withdrawal_data_box" class="funds_data_box">
<!-- dynamic content will be added  -->
        </div>


      </div>

    </section>

    <section id="settings_pop" class="profile_pops">

      <div class="back_btn">
        <i class="fa-sharp fa-solid fa-angle-left"></i>
      </div>

      <div class="profile_pop_top">

        <div class="profile_func_logo">
          <div class=" settings profile_func_logo_back">
           <i class="fa-solid fa-gear"></i>
          </div>
        </div>
        <div class="profile_func_des">
          <h3>SETTING</h3>
          <h5>Log out</h5>
        </div>
        <div class="profile_func_arrow">
          <i class="fa-solid fa-chevron-right"></i>
        </div>

      </div>

      <div class="profile_pop_middle">

          <div class="profile_pop_function_btns">

            <div class="account_top_logo">
              <div class="profile_func_logo">
                <div class="settings profile_func_logo_back">
                  <i class="fa-solid fa-gear"></i>
                </div>
              </div>
            </div>

            <div id="logout" class="settings_btns">
              <h2>LOGOUT</h2>
            </div>

            <span>I hope you liked our application</span>

          </div>

      </div>


    </section>
    <section id="cs_pop" class="profile_pops">
    </section>
    <section id="download_pop" class="profile_pops">

      <div class="back_btn">
        <i class="fa-sharp fa-solid fa-angle-left"></i>
      </div>

    </section>
    <section id="about_us_pop" class="profile_pops">

      <div class="back_btn">
        <i class="fa-sharp fa-solid fa-angle-left"></i>
      </div>
      <div class="about-content">
        <p style="text-align : center;">HERO FOOTBALL </p>
        <br>
        <p>Company was created on August , 2022 . </p><br>
        <p style="line-height : 1.4">Hero football team welcome's you to join our newly created platform , where you can get closer to you'r FAVOURITE FOOTBALL team while WINNING REAL CASH . Which will depend on you capital investment and you'r performance , Our team is here to SUPPORT you with any type of querry related to game planing and game logic .</p><br>
        <p style="text-align : center; font-weight : 800;">&#169; hero football.pvt <a href="/terms" style="text-decoration  : none ; color : black">Terms and Condition</a> </p>
      </div>
    </section>

 <!-- deposit page -->

    <section id="deposit_page" class="profile_pops">

      <div class="profile_top">
        <div class="profile_avatar">

        </div>
        <h2 class="s_name">HERO FB</h2>
      </div>
      <div class="profile_middle">
          <div class="profile_pay_btns">
            <div id="upi_btn">

            </div>
            <div id="usdt_btn">

            </div>
          </div>

          <div class="profile_function_btns">
            <div class="qr_box">

            </div>
            <h2>CLICK THE LINK</h2>
            <div class="profile_btns">

              <div class="profile_func_des deposit_page_link">
                <h2><a target="_blank" href="https://pmny.in/TrwE3jAiOk9U">https://pmny.in/TrwE3jAiOk9U</a> </h2>
              </div>
              <div class="profile_func_arrow">
                <i class="fa-solid fa-chevron-right"></i>
              </div>

            </div>
            <div class="deposit_amm_inpt ">
              <div class="amm_pop">
                AMOUNT
              </div>
              <input id="deposit_inpt" type="number" value="" />
            </div>

            <div id="upi_amm_choose" class="amm_inpt_btns">
              <span>1000</span>
              <span>2000</span>
              <span>5000</span>
              <span>10000</span>
            </div>

            <div class="deposit_amm_inpt">
              <div class="utr_pop amm_pop">
                ENTER THE UTR NO.
              </div>
              <input id="trans_id" type="text" value="" />
            </div>

          </div>

          <div class="confirmation_btns">
              <div id="deposit_procede" class="submit">
                REQUEST
              </div>
              <div class="cancel">
                CANCEL
              </div>
            </div>

      </div>

<!-- creating the usdt page -->
      <section id="usdt_page" class="profile_pops second_top_alignment usdt_page">

        <div class="profile_top">
          <div class="profile_avatar">

          </div>
          <h2 class="s_name">HERO FB</h2>
        </div>

        <div class="profile_middle">
            <div class="profile_pay_btns">
             <div class="second_alignment_top_header">
               <h2>
                 USDT
               </h2>
             </div>
            </div>

            <div class="profile_function_btns">
              <div class="qr_box usdt_qr">

              </div>

              <div class="deposit_amm_inpt ">
                <div class="amm_pop">
                  WALLET ADDRESS
                </div>
                <input id="deposit_inpt" disabled type="text" value="TNg4a3pYWVXdi9DFamW78yMS9LiGj9q7gU" />
              </div>

              <div class="deposit_amm_inpt">
                <div id="usdt_amount_inpt" class="utr_pop amm_pop">
                  AMOUNT
                </div>
                <input id="usdt__inpt" type="number" value="" />
              </div>

              <div id="usdt_amm_choose" class="amm_inpt_btns">
                <span>1000</span>
                <span>2000</span>
                <span>5000</span>
                <span>10000</span>
              </div>

              <h3 class="usdt_text">UPLOAD SCREENSHOT OF PAYMENT</h3>
              <div class="usdt_file_upload">
                <input type="file" accept=".jpg, .jpeg, .png" name="" value="" />
              </div>
            </div>

            <div class="confirmation_btns">
                <div id="usdt_submit" class="submit">
                  REQUEST
                </div>
                <div class="cancel">
                  CANCEL
                </div>
              </div>

        </div>

      </section>

    </section>


<!-- withdrawal page -->

    <section id="withdrawal_page" class="profile_pops second_top_alignment">
      <div class="profile_top">
        <div class="profile_avatar">

        </div>
        <h2 class="s_name">HERO FB</h2>
      </div>
      <div class="profile_middle">
          <div class="profile_pay_btns">
            <div class="second_alignment_top_header">
              <h2>WITDRAWAL</h2>
            </div>

          </div>

          <div class="profile_function_btns">
            <div class="account_card">

              <div class="card_box">
                <div class="acc_number">
                  <h3>****</h3>
                  <h3>****</h3>
                  <h3>****</h3>
                  <h3 class="s_acc_number">0000</h3>
                </div>
                <div class="acc_name">
                  <h3 style="text-transform : uppercase" class="bank_name">HELLO THERE</h3>
                </div>
              </div>

            </div>

            <div class="deposit_amm_inpt ">
              <div class="amm_pop">
                AMOUNT
              </div>
              <input id="withdraw_amount" type="number" value="" />
            </div>

            <div class="deposit_amm_inpt">
              <div class="utr_pop amm_pop">
                WITHDRAWAL CODE
              </div>
              <input id="withdrawal_code" type="number" value="" />
            </div>

          </div>

          <div class="confirmation_btns">
              <div class="submit">
                <h3 id="withdraw_request">REQUEST</h3>
              </div>
              <div class="cancel">
                <h3>CANCEL</h3>
              </div>
          </div>
          <h5 style="text-align : center; color : red">(VIP-0) ₹200 - ₹350.</h5>
          <h5 style="text-align : center; color : red">Withdrawal charge - 10%.</h5>
      </div>
    </section>

<!-- creating the vip page -->

    <section id="vip_page" class="profile_pops">
      <div class="back_btn">
        <i class="fa-sharp fa-solid fa-angle-left"></i>
      </div>
      <div class="vip_background">

        <div class="swiper mySwiper">
          <div class="swiper-wrapper">
            <div class="swiper-bg swiper-slide">
              <img src="../photos/Vip1foreground.png" alt="" />

            </div>
            <div class="swiper-bg swiper-slide">
              <img src="../photos/Vip2foreground.png" alt="" />

            </div>
            <div class="swiper-bg swiper-slide">
        <img src="../photos/Vip3foreground.png" alt="" />

            </div>
            <div class="swiper-bg swiper-slide">
              <img src="../photos/Vip4foreground.png" alt="" />

            </div>
            <div class="swiper-bg swiper-slide">
              <img src="../photos/Vip5foreground.png" alt="" />

            </div>
          </div>

        </div>

      </div>
      <div class="vip_bottom">

        <div class="vip_privileges">
          <h4>VIP PRIVILEGES</h4>
          <span style="padding : 0.5rem 2.5rem"class="s_name">HEY THERE</span>
        </div>
        <div class="vip_range">
          <div>
             <span id="vip_meter"></span>
          </div>
          <span class="s_vip_calc">VIP 1</span>
        </div>
        <div class="vip_stats">

          <div>
            <span class="stat_logo star_logo"></span>
            <span>
              <h4>Upgrade Requirements</h4>
              <h5 id="vip_update_req"> ₹ 6999 - 13999</h5>
            </span>
          </div>
          <div>
            <span class="stat_logo money_logo"></span>
            <span>
              <h4>Withdrawal/Day</h4>
              <h5>1</h5>
            </span>
          </div>
          <div>
            <span class="stat_logo money_withdraw_logo"></span>
            <span>
              <h4>Min. Withdrawal</h4>
              <h5>200</h5>
            </span>
          </div>
          <div>
            <span class="stat_logo money_withdraw_logo"></span>
            <span>
              <h4>max. Withdrawal</h4>
              <h5 id="max_withdrawal_fillup">2100</h5>
            </span>
          </div>

        </div>
      </div>
    </section>

  </section>

  <!-- creating the home page -->
  <section class="main_pages" id="home_page">
    <div id="main-box">

      <div class="main-section">

        <section class="match-section">

          <div class="slider">
            <section class="carousel" aria-label="Gallery">
              <ol class="carousel__viewport">
                <li id="carousel__slide1"
                    tabindex="0"
                    class="carousel__slide">
                  <div class="carousel__snapper">
                    <a href="#carousel__slide4"
                       class="carousel__prev">Go to last slide</a>
                    <a href="#carousel__slide2"
                       class="carousel__next">Go to next slide</a>
                  </div>
                </li>
                <li id="carousel__slide2"
                    tabindex="0"
                    class="carousel__slide">
                  <div class="carousel__snapper"></div>
                  <a href="#carousel__slide1"
                     class="carousel__prev">Go to previous slide</a>
                  <a href="#carousel__slide3"
                     class="carousel__next">Go to next slide</a>
                </li>

                <li id="carousel__slide3"
                    tabindex="0"
                    class="carousel__slide">
                  <div class="carousel__snapper"></div>
                  <a href="#carousel__slide2"
                     class="carousel__prev">Go to previous slide</a>
                  <a href="#carousel__slide4"
                     class="carousel__next">Go to next slide</a>
                </li>

                <li id="carousel__slide4"
                    tabindex="0"
                    class="carousel__slide">
                  <div class="carousel__snapper"></div>
                  <a href="#carousel__slide3"
                     class="carousel__prev">Go to previous slide</a>
                  <a href="#carousel__slide1"
                     class="carousel__next">Go to first slide</a>
                </li>
              </ol>

            </section>

          </div>

          <!-- slider popup -->
          <div class="slider-popup">
            <div class="aff-cut-box">
              <ion-icon name="chevron-back-outline"></ion-icon>Back
            </div>
            <div class="background">
            </div>
          </div>

          <div class="home_decorations">

            <div class="home_league_spec">
              <h2 id="league_match_btn">LEAGUE</h2>
              <div class="home_football">
              </div>
              <h2 id="virtual_match_btn">VIRTUAL</h2>
            </div>

          </div>

          <div id="matches_box" class="matches-box">

            <!-- live matches will be added here -->
          </div>

          <div id="virtual_match_box" class="matches-box">

          <!-- matches will be added from backend -->

          </div>

          <!-- spinner - popup -->

        {{{spinner}}}
          <!-- <div class="spinner_pop_btn">
            <ion-icon name="sparkles-outline"></ion-icon>
          </div> -->

        </section>

      <section class="pc-profile-section">
          <div id="profile-box">
            <div class="profile-logo">

            </div>

            <form id="profile-info">

              <ul>
                <li><span>name </span><span class="s_name"></span> </li>
                <li><span>vip</span> <span class="s_vip">VIP 0</span> </li>
                <li><span>Deposited</span> <span class="s_balance">00.00</span> </li>
                <li><span>invitations </span><span class="s_members">00</span> </li>
              </ul>

            </form>

          </div>
        </section>

      </div>

      <section class="main_pages" id="spinner">
        <div class="back_btn">
          <i class="fa-sharp fa-solid fa-angle-left"></i>
        </div>
        <div class="wrapper">
        <div class="container">
          <canvas id="wheel"></canvas>
          <button id="spin-btn">Spin</button>
          <img src="../photos/spinner-arrow-.svg" alt="spinner-arrow" />
        </div>
        <div id="final-value">
          <p>Click On The Spin Button To Start</p>
        </div>
      </div>
      </section>

    </div>

    <section  class="main_pages" id="bet-box">
      <p class="hidden" id="final_league_id"></p>
      <div class="bet_box_top">
        <h2 class="final_league">LEAGUE MATCH</h2>
        <div class="bet_box_teams">
          <div>
            <span></span>
            <h4 class="teams_data team_a">TEAM A</h4>
          </div>
          <div class="vs_logo">
          </div>
          <div>
            <span></span>
            <h4 class="teams_data team_b">TEAM A</h4>
          </div>
        </div>
      </div>
      <div class="bet_data_titles">
        <span>ITEM</span>
        <span class="lime">PROFIT</span>
        <span>QUANTTY</span>
      </div>
      <div class="bet_profit_data">
        <div>
          <h3>0-0</h3>
          <h3 class="profit_box">0.00%</h3>
          <span>
            <h6 class="rand_numb">000</h6>
            <h5 class="lime">BET</h5>
          </span>
        </div>
        <div>
          <h3>0-1</h3>
          <h3 class="profit_box">0.00%</h3>
          <span>
            <h6 class="rand_numb">000</h6>
            <h5 class="lime">BET</h5>
          </span>
        </div>
        <div>
          <h3>0-2</h3>
          <h3 class="profit_box">0.00%</h3>
          <span>
            <h6 class="rand_numb">000</h6>
            <h5 class="lime">BET</h5>
          </span>
        </div>
        <div>
          <h3>0-3</h3>
          <h3 class="profit_box">0.00%</h3>
          <span>
            <h6 class="rand_numb">000</h6>
            <h5 class="lime">BET</h5>
          </span>
        </div>
        <div>
          <h3>1-0</h3>
          <h3 class="profit_box">0.00%</h3>
          <span>
            <h6 class="rand_numb">000</h6>
            <h5 class="lime">BET</h5>
          </span>
        </div>
        <div>
          <h3>1-1</h3>
          <h3 class="profit_box">0.00%</h3>
          <span>
            <h6 class="rand_numb">000</h6>
            <h5 class="lime">BET</h5>
          </span>
        </div>
        <div>
          <h3>1-2</h3>
          <h3 class="profit_box">0.00%</h3>
          <span>
            <h6 class="rand_numb">000</h6>
            <h5 class="lime">BET</h5>
          </span>
        </div>
        <div>
          <h3>1-3</h3>
          <h3 class="profit_box">0.00%</h3>
          <span>
            <h6 class="rand_numb">000</h6>
            <h5 class="lime">BET</h5>
          </span>
        </div>
        <div>
          <h3>2-0</h3>
          <h3 class="profit_box">0.00%</h3>
          <span>
            <h6 class="rand_numb">000</h6>
            <h5 class="lime">BET</h5>
          </span>
        </div>
        <div>
          <h3>2-1</h3>
          <h3 class="profit_box">0.00%</h3>
          <span>
            <h6 class="rand_numb">000</h6>
            <h5 class="lime">BET</h5>
          </span>
        </div>
        <div>
          <h3>2-2</h3>
          <h3 class="profit_box">0.00%</h3>
          <span>
            <h6 class="rand_numb">000</h6>
            <h5 class="lime">BET</h5>
          </span>
        </div>
        <div>
          <h3>2-3</h3>
          <h3 class="profit_box">0.00%</h3>
          <span>
            <h6 class="rand_numb">000</h6>
            <h5 class="lime">BET</h5>
          </span>
        </div>
        <div>
          <h3>3-0</h3>
          <h3 class="profit_box">0.00%</h3>
          <span>
            <h6 class="rand_numb">000</h6>
            <h5 class="lime">BET</h5>
          </span>
        </div>
        <div>
          <h3>3-1</h3>
          <h3 class="profit_box">0.00%</h3>
          <span>
            <h6 class="rand_numb">000</h6>
            <h5 class="lime">BET</h5>
          </span>
        </div>
        <div>
          <h3>3-2</h3>
          <h3 class="profit_box">0.00%</h3>
          <span>
            <h6 class="rand_numb">000</h6>
            <h5 class="lime">BET</h5>
          </span>
        </div>
        <div>
          <h3>3-3</h3>
          <h3 class="profit_box">0.00%</h3>
          <span>
            <h6 class="rand_numb">000</h6>
            <h5 class="lime">BET</h5>
          </span>
        </div>
        <div>
          <h3>4-4</h3>
          <h3 class="profit_box">0.00%</h3>
          <span>
            <h6 class="rand_numb">000</h6>
            <h5 class="lime">BET</h5>
          </span>
        </div>
      </div>

      <div class="place_bet_popup">

        <span class="lime full_time">
          <h3>Against Full Time </h3>
          <h3 id="score" > 0 - 0</h3>
        </span>
        <h5 class="final_league" id="league_name">league lora lasun</h5>
        <span class="final_teams">
           <h4 id="team_a" class="team_a">team a </h4>
           <h4>VS</h4>
           <h4 id="team_b" class="team_b">team b</h4>
         </span>

        <span class="date_time">
          <h4 id="b_date">10/12/2022 </h4>
          <h4 id="b_time">12:00</h4>
        </span>
        <div class="final_bet_data">
          <div class="bet_calculation">
            <h4>Amount</h4>
            <h4>Profit (%)</h4>
            <h4>Available</h4>
            <input id="bet_amount" type="number" name="" value="" />
            <h4 id="profit">0.00%</h4>
            <h4 id="available" class="lime">00</h4>
          </div>
          <div class="bet_calc_btns">
            <h6>( Handling Fee - ₹ 1 )</h6>
            <div class="bet_btns">
              <span>+ 1000</span>
              <span>+ 2000</span>
              <span>+ 5000</span>
              <span>+ 10000</span>
              <span>All</span>
            </div>
          </div>

        </div>
        <span class="balance">
          <h5>Balance</h5> <h5 class="lime s_balance"> 1232</h5>
        </span>
        <div class="confirmation_btns">
            <button id="place_bet" class="submit">
              <h3>REQUEST</h3>
            </button>
            <div class="del_trade_cancel">
              CANCEL
            </div>
          </div>
      </div>

    </section>

  </section>

  <!-- creting the records page -->
  <section class="main_pages" id="records_page">
    <div class="record-backg">
    </div>
    <div id="record_data_box" class="record-data">
           <h2>RECORD</h2>
   <!-- dynamic data will be added here -->
       </div>
  </section>

  <!-- creating the trades page -->
  <section class="main_pages" id="trade_page">
    <div class="record-backg trade-backg">
    </div>
    <div id="trade_data_box" class="record-data">
           <h2>TRADES</h2>
         <!-- matches will be added dynamically -->
       </div>
    <div class="trade_del_box">
       <p id="del_leagueid" style= "display : none"></P>
       <h3>Delete this trade ?.</h3>
       <div class="confirmation_btns">
         <div id="del_trade" class="submit">
           REQUEST
         </div>
         <div class="del_trade_cancel">
           CANCEL
         </div>
       </div>
     </div>
  </section>

  <section class="main_pages" id="promotion_page">
    <div class="promotion-back">

    </div>
    <div class="promotion-back">

    </div>
    <div class="promotion-back">

    </div>
    <div class="promotion-back">

    </div>
    <div class="promotion-back">

    </div>

    <div class="promotion-back">

    </div>
  </section>

  <section class="main_pages" id="tutorial_page">
    <div class="aff_back_btn">
      <i class="fa-sharp fa-solid fa-angle-left"></i>
    </div>
    <div class="tutorial_box">
      <video src="./tutorial.mp4" loop controls plays-inline type='video/mp4' poster="../photos/record_background.jpg">
    </div>
  </section>

  <section class="main_pages" id="affiliate_page">
    <div class="aff-top">
      <div class="aff-name">
        <span class="s_name">Hey there</span>
      </div>
      <div class="aff-rebade-bonus">
        <div class="rebate">
          <span class="aff_edits">affiliate rebate</span>
          <span class="s_rebade">0.00</span>
        </div>
        <div class="bonus">
          <span class="aff_edits">promotion bonus</span>
          <span class="s_promotion">0.00</span>
        </div>
      </div>
      <div class="aff-blocks">
        <div class="aff_top_buttons aff-members">
          <ion-icon name="person-add-outline"></ion-icon>
          <span>Member</span>
        </div>
        <div id="report_btn" class="aff_top_buttons aff-report">
          <ion-icon name="receipt-outline"></ion-icon>
          <span>report</span>
          <!-- false page copy the whole shit and level 1 to level 6  = 12% -->
        </div>
      </div>
    </div>

    <div class="aff-bottom">
      <div class="aff-new-register">
        <ion-icon name="people-outline"></ion-icon>
        <span>New register</span>
      </div>
      <div class="aff-new-register">
        <ion-icon name="wallet-outline"></ion-icon>
        <span>New Deposits</span>
      </div>
      <div class="aff-new-register">
        <ion-icon name="football-outline"></ion-icon>
        <span>New Bets</span>
      </div>
      <div class="aff-new-register">
        <i class="fa-solid fa-money-bill-transfer"></i>
        <span>Total withdrawal</span>
      </div>
      <div class="aff-new-register">
        <i class="fa-solid fa-person-circle-plus"></i>
        <span>invite</span>
      </div>
    </div>

<!-- new register member + their members -->
    <section id="new_register_pop" class="aff_popups aff_bottom_popups">

      <div class="aff_back_btn">
        <i class="fa-sharp fa-solid fa-angle-left"></i>
      </div>

      <div class="aff_pops_top">
        <div>
          <h3>TOTAL MEMBER</h3>
          <h3>TOTAL PROFIT</h3>
        </div>
        <div>
          <h4 class="s_members">00</h4>
          <h4 id="s_tot_profit">1234</h4>
        </div>

      </div>
      <div class="aff_pops_bottom">

        <div class="aff_bottom_titles">
          <h3>ACCOUNT</h3>
          <h3>LEVEL</h3>
          <h3>MEMBERS</h3>
        </div>
        <div id="new_register_content_box" class="aff_bottom_contents">
      <!-- dynamic content will be added here -->
        </div>
      </div>
    </section>

<!-- new deposit member + total deposits -->
    <section id="new_deposit_pop" class="aff_popups aff_bottom_popups">
      <div class="aff_back_btn">
        <i class="fa-sharp fa-solid fa-angle-left"></i>
      </div>
      <div class="aff_pops_top">
        <div>
          <h3>TOTAL MEMBER</h3>
          <h3>TOTAL DEPOSIT</h3>
        </div>
        <div>
          <h4 class="s_members">00</h4>
          <h4 id="s_tot_deposit">000</h4>
        </div>

      </div>
      <div class="aff_pops_bottom">

        <div class="aff_bottom_titles">
          <h3>ACCOUNT</h3>
          <h3>LEVEL</h3>
          <h3>DEPOSIT</h3>
        </div>
        <div id="new_deposit_content_box" class="aff_bottom_contents">
      <!-- dynamic content will be added here -->
        </div>
      </div>
    </section>

<!-- new bets member + bets played  -->
    <section id="new_bets_pop" class="aff_popups aff_bottom_popups">
      <div class="aff_back_btn">
        <i class="fa-sharp fa-solid fa-angle-left"></i>
      </div>
      <div class="aff_pops_top">
        <div>
          <h3>TOTAL MEMBER</h3>
          <h3>TOTAL BET</h3>
       </div>
       <div>
          <h4 class="s_members">00</h4>
          <h4 id="s_tot_bets">000</h4>
       </div>
      </div>
      <div class="aff_pops_bottom">

         <div class="aff_bottom_titles">
           <h3>ACCOUNT</h3>
           <h3>LEVEL</h3>
           <h3>BET</h3>
         </div>
         <div id="new_bets_content_box" class="aff_bottom_contents">
        <!-- dynamic content will be aded here -->
         </div>
       </div>
    </section>

<!-- total withdrawals member + withdrawal -->
    <section id="new_withdrawal_pop" class="aff_popups aff_bottom_popups">
      <div class="aff_back_btn">
        <i class="fa-sharp fa-solid fa-angle-left"></i>
      </div>
      <div class="aff_pops_top">
        <div>
          <h3>TOTAL MEMBER</h3>
          <h3>TOTAL WITHDRAW</h3>
        </div>
        <div>
          <h4 class="s_members">00</h4>
          <h4 id="s_tot_withdrawal">1234</h4>
        </div>

      </div>
      <div class="aff_pops_bottom">

        <div class="aff_bottom_titles">
          <h3>ACCOUNT</h3>
          <h3>LEVEL</h3>
          <h3>WITHDRAW</h3>
        </div>
        <div id="new_withdrawal_content_box" class="aff_bottom_contents">

        </div>
      </div>
    </section>

<!-- new invitation -->
    <section id="invitation_pop" class="aff_popups aff_bottom_popups">
      <div class="aff_back_btn">
        <i class="fa-sharp fa-solid fa-angle-left"></i>
      </div>
      <div class="invitation_box">
        <h2>Your invitation link.</h2><br>
        <div  class="invitaiton_link">
          <input id="invitation_link" type="text" disabled class="s_invitation" value="" />
          <span id="invitation_link_cpy_btn" class="invi_link_btn"><i class="fa-regular fa-copy"></i></span>
        </div>
      </div>
    </section>

    <section id="report_pop" class="aff_popups">
      <div class="aff_back_btn">
        <i class="fa-sharp fa-solid fa-angle-left"></i>
      </div>
      <div style="padding:1rem">
        <h5>Level 1 agent rebate = Level 1 agent's revenue * 12% .</h5>
        <h5>Level 2 agent rebate = Level 1 agent's revenue * 10% .</h5>
        <h5>Level 3 agent rebate = Level 1 agent's revenue * 8%</h5>
      </div>
    </section>

  </section>

</main>

<footer>
   <div class="footer home">
     <a>
       <ion-icon name="home-outline"></ion-icon>
     </a>
   </div>
   <div class="footer records">
     <a>
       <ion-icon name="receipt-outline"></ion-icon>
     </a>
   </div>
   <div class="footer menue">
     <a class="m_menue_section">
     </a>
   </div>
   <div class="footer trades">
     <a>
       <ion-icon name="newspaper-outline"></ion-icon>
     </a>
   </div>
   <div class="footer profile">
     <a>
       <ion-icon name="people-outline"></ion-icon>
     </a>
   </div>

   <section id="footer_menue_popup">
      <div id="footer_popup_back" class="footer_pop_top">
        <span></span>
        <i class="fa-solid fa-angle-down"></i>
      </div>
      <div>
        <div id="affiliate_center_btn" class="footer_pop_elements affiliate_center_btn">
          <i class="fa-solid fa-people-roof">
          </i>
          <h4>AFFILIATE CENTER</h4>
        </div>
      </div>
      <div>
        <div id="promotion_page_btn" class="promotion_page_btn footer_pop_elements">
        <i class="fa-solid fa-chart-line"></i>
        <h4>PROMOTION</h4>
      </div>
      </div>
      <div>
        <div id="tutorial_page_btn" class="footer_pop_elements tutorial_page_btn">
        <i class="fa-regular fa-circle-play"></i>
        <h4>TUTORIAL</h4>
      </div>
      </div>
   </section>

</footer>

</body>

</html>
