<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="icon" type = "image/x-icon" href="../photos/favicon.png">
    <title>terms and condition's</title>
   <style media="screen">
     body{
       background: #0a0912;
       color : #efefef;
     }
     .logo{
       min-height: 7rem ;
       width: 50%;
       background : url('../photos/LOGO.png') center no-repeat ;
       background-size: contain;
       margin : 0 auto;
     }
     article{
       padding-bottom: 20%;
     }
     ul > li{
       text-transform: uppercase;;
     }

   </style>
  </head>
  <body>
    <div class="logo">

    </div>
    <div class="content">
      <article>
        This is a contract between you and HERO FB . This website and its related services are owned and operated by HERO . By clicking the "CREATE ACCOUNT" or "SIGN UP" button , or by accessing or using the services through HERO FB website , you agree to all the terms and conditions contained in this Terms of Business. You should read the entire , Terms and conditions carefully.
  Depending on your country of residence, you may not be able to use all the functions of the site . It is your responsibility to follow those rue and laws in Your country of residence and or services. As long as you agree to and actually grants to you a personal, non-exclusive, non-transferable, non-serviceable and limited right to enter and use the site and the services.
  If you disagree to the terms and conditions, please do not register.

 <h2>Eligibility : -</h2>

 <h3> By registering for an account or accessing the service of the site you represent and warrant that:</h3>
   <ul>
     <li> you are an individual, legal person or other organization with full legal capacity to enter into this User Agreement between you and HERO FB.
     </li> <br>
     <li> You are at least 18 years old or of the legal age in accordance to your relevant jurisdiction.</li><br>
     <li> You cannot use your personal account to act as an intern.
    </li><br>
    <li>NOTE that we will charge 10% as a settelement fee while withdrawal . </li><br>
    <li> MIN. 3 BET REQUIRED FOR
    WITHDRAWAL.</li><br>
    <li> MIN. DEPOSIT 1000.</li><br>
    <li> MIN. WITHDRAWAL 200.</li><br>
    <li> DEPOSIT AND WITHDRAW
     ACORDING TO VIP LEVEL.</li><br>
    <li> IF YOU FOLLOW THE RULE'
    S YOU GET MORE PROFIT.</li><br>
    <li> SELF BETTING IN ALLOWED.</li><br>
    <li> IF YOU HAVE ANY PROBLEM CONTACT CS.</li><br>
    <li> THIS APPLICATION IS DESGINED FOR YOU AND YOU GET BEST EXPERIENCE IN OUR APPLICATION.</li><br>
    <li> WE USE TELEGRAM FOR YOU BETTER EXPERIENCE , FAST REPLY , CONNECT WITH USER AS FAST AS.</li><br>

  </ul><br>
  </article>
    <h2 style="text-align : center;">&#169; copyright hero football.pvt</h2>
    </div>
  </body>
</html>
