*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    scrollbar-color : transparent transparent;
    scrollbar-width: 0px;
    font-family: 'Dancing Script', cursive;
    font-family: 'Didact Gothic', sans-serif;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

:root{
  --grey: #4e596e;
  --grey_dark  : #242a32;
  --blue : #5a8ed3;
  --background : #f1f1f6;
  --white : #ffffff;
}

*::-webkit-scrollbar {
  width: 0px;
  height: auto;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background: transparent;
  border: none;
}

* {
  -ms-overflow-style: none;
}

body{
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  position: relative;
}

/* header section */

.top-logo-section{
  height: 60px;
  width: 100vw;
  z-index: 4;
  display: flex;
  justify-content: space-between;
  background: linear-gradient(92.98deg, #ce5e6f 25.95%, #d3836b 116.97%);
}

.header_balance{
  align-self: center;
  padding : 0.5rem 1rem;
  margin-right : 10%;
  border-radius: 2rem;
  background: white;
  box-shadow: 0 0 5px black;
}

#logo{
  height: 55px;
  width: 55px;
  border-radius: 50%;
  align-self: center;
  margin-left : 1rem;
  background-image: url('../photos/LOGO.png');
  background-position: center;
  background-color: #222224;
  background-size: cover;
  background-repeat: no-repeat;
}

/* header section ends  */

/* loading animation */
  #loading{
    height: 100%;
    width: 100%;
    position: absolute;
    left : 0;
    top : 0;
    background: var(--grey);
    display: grid;
    place-content: center;
    place-items: center;
    overflow: hidden;
    z-index: 10;
  }
  .loading_backgound{
    height: 200px;
    width: 200px;
    z-index: 4;
    position: relative;
    border-radius: 100%;
    background: conic-gradient( transparent -100deg ,red 360deg);
    background-size: contain;
    animation : rotate 2s infinite ease-in-out;
  }
  .scale_object{
    height: 5px;
    position: absolute;
    border-radius: 100%;
    width: 5px;
    background: var(--grey_dark);
    /* animation: scale 6s infinite ease-in-out; */
  }
  .loading_backgound_img{
    width: 180px;
    position: absolute;
    top : 50%;
    left : 50%;
    z-index: 4;
    transform: translate(-50% , -50%);
    border-radius: 100%;
    background: url(../photos/LOGO.png) center no-repeat;
    background-size: contain;
    background-color: var(--grey_dark);
    height : 180px;
  }
 @keyframes rotate{
   from {
     transform : rotate(0deg);
   }to{
     transform: rotate(360deg);
   }
 }
  @keyframes scale{
    from{
      transform: scale(0);
    }to{
      transform: scale(200);
    }
  }

/* loading animation ends here */

/* footer section */

footer {
  height : 60px;
  position: fixed;
  bottom: 0;
  left : 0;
  width: 100vw;
  display: grid;
  grid-template-columns: repeat(5 , 1fr);
}
footer{
  background : var(--grey_dark);
  border-top-right-radius: 2rem;
  border-top-left-radius: 2rem;
  box-shadow: 0 0 10px -3px var(--grey);
  z-index: 5;
}
footer > div{
  background : var(--grey_dark);
}
footer > .home {
  border-top-left-radius: 1rem;
}
footer > .profile{
  border-top-right-radius: 1rem;
}
footer > .footer > a{
  height: 100%;
  width: 100%;
  display: grid;
  place-content: center;
  place-items: center;
}

.footer > a > ion-icon{
  font-size: 2rem;
  color : white;
}

footer > .menue >a{
  background: url(../photos/LOGO.png) center no-repeat;
  background-size: contain;
}

#footer_menue_popup{
  position: absolute;
  bottom : 0;
  left : 0;
  display: none;
  height: 40vh;
  width: 100vw;
  background: var(--grey);
  padding-bottom: 65px;
  border-top-right-radius: 2rem;
  border-top-left-radius: 2rem;
  z-index: -2;
}

.footer_pop_top{
  padding : 0.2rem;
  display: flex;
  height: fit-content;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.footer_pop_top > span{
  height : 3rem;
  width: 5rem;
  background: url(../photos/LOGO.png) center no-repeat;
  background-size: 100%;
}

.footer_pop_elements{
  width: 80%;
  display: flex;
  padding : 0.5rem;
  border-radius: 100vw;
  background: white;
  color : black;
  overflow: hidden;
  margin : 0.5rem 0;
}

.footer_pop_elements > i {
  font-size: 20px;
  padding : 0 0.5rem;
  color : red;
}

#footer_menue_popup > div:nth-child(odd){
  justify-content: flex-end;
}

#footer_menue_popup > div{
  display: flex;
  width: 100%;
}

.footer_pop_top > i{
  font-size: 20px;
  color : white;
}

@keyframes menue_animation{
  from{
    width: 10%;
  } to{
    width: 60%;
  }
}

/* footer section ends here */

main {
  height : calc(100vh - 120px);
  width: 100vw;
  position: relative;
  overflow: hidden;
}

main .main_pages{
  position: absolute;
  height : 100%;
  width : 100%;
  top : 0;
  left : -100vw;
  /* padding-bottom: 60px; */
  overflow-y : scroll;
}
#main-box{
  height : 100%;
}


#home_page{
  left : 0;
}


/* profile  page edits*/

#download_pop{
  background: url(../photos/download_back.jpg) center no-repeat;
  background-size: 100% 100%;
}

#profile_page{
  position: relative;
  overflow: hidden;
}

#profile_page > .profile_middle > .profile_function_btns {
  margin-top: 2rem;
}

 .profile_top{
  height : 50%;
  padding : 1rem 0 ;
  z-index: 1;
  text-align: center;
  position: relative;
  background : linear-gradient(150deg , #aedbea , #ffb8ef);
}

 .profile_avatar{
  height : 100px;
  width : 100px;
  border-radius: 100%;
  margin : 0 auto;
  background-color: var(--background);
  background-repeat: no-repeat;
  background-size: contain;
}

 .profile_vip{
  position: absolute;
  top : 1rem;
  left : 1rem;
  white-space: nowrap;
  padding : 0.15rem 1rem;
  border-radius: 100vw;
  text-align: center;
  background: var(--white);
}

 .profile_middle{
  z-index: 2;
  position: absolute;
  bottom: 0;
  left : 0;
  top : 28%;
  overflow: scroll;
  width : 100%;
  padding : 2rem 1rem;
  padding-bottom: 60px;
  border-top-left-radius: 3rem;
  border-top-right-radius: 3rem;
  background: var(--background);
  height : calc(100vh - 120px - 28%);
  filter: drop-shadow(0 0 0.5rem var(--grey));
}

.profile_function_btns{
  height : auto;
  margin-top: 1rem;
}
.profile_function_btns > h2{
  text-align: center;
}

.profile_func_des > input{
  width : 100%;
  height : 100%;
  outline : none;
  border : none;
  font-size: 1.25rem;
  text-align: center;
}

.profile_function_btns .profile_btns {
  width: 100%;
  margin : 0 auto;
  padding : 0.5rem;
  box-shadow: 0 0 10px -3px var(--grey);
  white-space: nowrap;
  margin-top: 1rem;
  background: var(--white);
  display: grid;
  grid-template-columns: 1fr 3fr 0.5fr;
  grid-column-gap: 0.2rem;
  border-radius: 100vw;
}

.profile_middle .profile_pay_btns{
  display: flex;
  justify-content: space-between;
  padding-top: 2rem 1.5rem;
  border-radius: 100vw;
}

.profile_func_logo {
  display: grid;
  place-items: center;
}

.profile_func_logo_back{
  height: 98%;
  width: 70%;
  border-radius: 0.5rem;
  align-self: center;
  display: grid;
  place-items: center;
  background : black;
}

.profile_pay_btns > div{
  width : 45%;
  padding :  1rem;
  min-height: 3rem;
  text-align: center;
  text-transform: uppercase;
  box-shadow: 0 0 10px -3px var(--grey);
  color : white;
  border-radius: 100vw;
}

#deposit_btn{
  background: var(--grey_dark);
}
#withdraw_btn{
  background:  var(--blue);
}
#profile_page .profile_description{
  height : auto;
}
.profile_description{
  text-align: center;
  background: var(--grey);
  margin-top: 1rem;
  padding-bottom: 1rem;
  color : white;
}
.profile_description > .company_logo{
    width: 100%;
    background: url(../photos/LOGO.png) center no-repeat;
    height: 4rem;
    background-size: contain;
}

.profile_func_logo_back > i{
  color : white;
  font-size: 30px;
  text-align: center;
}

.info{
  background : #fa4760;
}

.account{
  background : #6e7af9;
}
.about_us{
  background : url(../photos/LOGO.png) no-repeat center;
  background-size: contain;
}
.download{
  background :#fcd673;
}
.payments{
  background : #fa5ebe;
}
.settings{
  background : #fa4760;
}
.cs{
  background: #12d7fc;
}

.profile_pop_middle{
  margin-top: 3rem;
  height : calc(100% - 4rem - 12%);
  /* height: -webkit-fill-available; */
  border-top-right-radius: 3rem;
  border-top-left-radius: 3rem;
  background : var(--background);
  text-align: center;
  overflow: scroll;
  padding-bottom: 3rem;
}

.profile_pop_function_btns{
  padding : 2rem 1rem;
}

.back_btn{
  height  : 3rem;
  width: 20vw;
  z-index: 10;
  position: absolute;
  right : 0;
  padding : 0 0.5rem;
  top : 1rem;
  color : white;
  display: flex;
  align-items: center;
  border-top-left-radius: 3rem;
  border-bottom-left-radius: 3rem;
  background : var(--grey_dark);
}

.back_btn > i{
  font-size: 30px;
}

.profile_pop_top{
  width: 90%;
  margin : 0 auto;
  margin-top : 20%;
  display: grid;
  border-radius: 100vw;
  grid-template-columns: 1fr 3fr 0.5fr;
  background: var(--white);
  box-shadow: 0 0 10px -3px var(--grey);
  padding :0.5rem;
}

.profile_func_arrow{
  display: grid;
  place-items: center;
}

.profile_pops{
  position: absolute;
  left : -100vw;
  top : 0;
  width: 100%;
  z-index: 3;
  height: 100%;
  background : linear-gradient(150deg , #aedbea , #ffb8ef);
}

.btns{
  box-shadow: 0 0 10px -3px var(--grey);
  grid-template-columns: 1fr 3fr 0.5fr;
  background: var(--white);
  border-radius: 100vw;
  padding : 0.5rem;
  margin : 0 auto;
  text-align: start;
  margin-top: 1rem;
  display: grid;
  height: 100%;
  width: 100%;
}


.info_popups{
  position: absolute;
  left : -100vw;
  top : 0;
  display: grid;
  text-align: center;
  height: calc(100% - 120px);
  backdrop-filter: blur(7px);
  width: 100%;
  place-items: center;
  background: transparent;
}

.info_change_box{
  width: 90%;
  border-radius: 3rem;
  box-shadow: 0 0 50px -10px;
  padding : 0.5rem 1.5rem;
  background: var(--background);
}
.confirmation_btns{
  padding : 0.5rem;
  display: flex;
  justify-content: space-between;
}
.submit{
  width: 45%;
  background: var(--grey_dark);
  color : white;
  box-shadow: 0 0 10px -3px var(--grey);
  text-align: center;
  padding : 1rem;
  border-radius: 100vw;
  margin-top: 0.5rem;
}


.del_trade_cancel , .cancel{
  width: 45%;
  border-radius: 100vw;
  font-weight: bold;
  color : black;
  margin-top: 0.5rem;
  background: var(--white);
  box-shadow: 0 0 10px -3px var(--grey);
  text-align: center;
  padding : 1rem;
}

.account_top_logo{
  width: 100%;
  height : 4rem;
}

.account_top_logo > div{
  width: 5rem;
  height : 100%;
  margin: 0 auto;
}

 .account_card{
  margin-top: 2rem;
  height : 10rem;
  width: 100%;
  background: url(../photos/card.png) no-repeat center;
  background-size: contain;
  background-color: white;
}
.card_box{
  position: relative;
  text-align: center;
  height: 100%;
  width: 50%;
  margin : 0 auto;
  display: flex;
}
.acc_number{
  display: flex;
  padding : 0 1rem;
  width: 100%;
  color  : white;
  justify-content: space-evenly;
  align-self: center;
}

.acc_name{
  color : white;
  position: absolute;
  bottom : 1rem;
  width: 100%;
  padding-left: 2rem;
}
/* creating about us page */
.about-content{
  width: 90%;
  margin : 2rem auto;
}
/* creatint the payments_page */

#funds_pop{
  overflow-y: scroll;
  background : #dadadc;
}

#funds_pop > .withdrawal_sec , .deposits_sec{
  min-height : 50%;
  background: transparent;
}
.deposits_sec{
  margin-top: 5rem;
}
.funds_title{
  border-radius: 100vw;
  width: 80%;
  padding: 0.5rem 1.5rem;
  background: var(--white);
  text-align: center;
  margin : 1rem auto;
}

.funds_title > h2{
  padding : 0 1rem;
  border-radius: 100vw;
  text-align: center;
  color : white;
  background: var(--grey_dark);
}

.funds_data_box {
  border-radius: 1rem;
  margin-top: 2rem;
  min-height: 20rem;
  overflow-y: scroll;;
  border-top-right-radius: 1.5rem;
  border-top-left-radius: 1.5rem;
  background: var(--background);
  padding : 1rem 0;
  padding-bottom: 70px;
}
.pay_card{
  border-radius: 1rem;
  box-shadow: 0 0 10px var(--grey);
  width: 75%;
  padding : 0.5rem;
  margin : 0.5rem auto;
  background: var(--white);
}

.pay_card_title{
  display: flex;
  justify-content: space-between;
}
.pay_card_title > h4{
  background: var(--grey_dark);
  color : white;
  padding : 0 0.5rem;
  border-radius: 100vw;
  text-align: center;
}
.pay_card_title > span{
  display: flex;
}
.pay_card_title > span > h5{
  padding : 0 0.5rem;
}
.pay_data{
  padding : 0.2rem 0 ;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 1fr;
  place-content: center;
  place-items: center;
}
#deposit_status{
  color : lime;
}

/* settings page */

.settings_btns{
  width: 100%;
  margin : 0 auto;
  color : white;
  font-weight: bold;
  background: var(--grey_dark);
  text-align: center;
  padding : 1rem 0.5rem;
  margin-top: 3rem;
  border-radius: 100vw;
  box-shadow: 0 0 10px -5px var(--grey);
}

#settings_pop > span{
  text-align: center;
  padding : 0.25rem;
}



/* creting the deposit page */

.qr_box{
  min-height: 7rem;
  min-width: 7rem;
  margin :0 auto;
  margin-top: 1rem;
  background: url(../photos/QR.png)center no-repeat;
  background-size: contain;
}
.profile_middle .deposit_amm_inpt{
  position: relative;
  margin-top: 3rem;
  width: 100%;
  border-radius: 100vw;
  background: white;
  box-shadow: 0 0 10px -3px var(--grey);
  padding: 0.5rem;
}
.deposit_amm_inpt > input{
  font-size: 1.5rem;
  text-align: center;
}
.amm_pop{
  position: absolute;
  top : -75%;
  left : 1rem;
  letter-spacing: 2px ;
  height : 2rem;
  white-space: nowrap;
  width: fit-content;
  text-align: center;
  color : white;
  background: var(--grey_dark);
  text-transform: uppercase;
  border-top-right-radius: 0.5rem;
  border-top-left-radius: 0.5rem;
  padding : 0.25rem 0.5rem;
}

.deposit_page_link{
  padding : 0.25rem 0.5rem;
  color : black;
}
.deposit_page_link > h3 > a{
  text-decoration: none;
  color : black;
}

.deposit_amm_inpt > input{
  width: 100%;
  height : 100%;
  outline: none;
  border : none;
}

.amm_inpt_btns{
  display: grid;
  margin-top : 1rem;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap : 1rem;
}

.amm_inpt_btns > span{
  width : 90%;
  color : white;
  letter-spacing: 2px;
  font-weight: bold;
  background: linear-gradient(#f54d64 , #f77761);
  padding : 1rem 0.5rem;
  text-align: center;
  border-radius: 100vw;
  box-shadow: 0 0 10px -5px var(--grey);
}
#profile_page > .profile_function_btns{
  margin-top: 3rem;
}
#upi_btn{
  background: url(../photos/UPI-Color.png)center no-repeat;
  background-size: 80%;
}
#usdt_btn{
  background: url(../photos/Tether-USDT.png) center no-repeat;
  background-size: 30%;
  background-color: var(--grey_dark);
}
.utr_pop{
  left : 45%;
}

#usdt_amount_inpt{
  left : 1rem;
}

/* creating the withdrawal page */

.second_top_alignment > .profile_top > h2{
  align-self: center;
  margin-left: 1rem;
}
.second_top_alignment > .profile_top > .profile_avatar{
  margin : 0;
}
.second_top_alignment > .profile_top{
  background: none;
  height: auto;
  display: flex;
  padding : 1rem;
}
.profile_pay_btns > .second_alignment_top_header{
  width: 90%;
  margin : 0 auto;
  font-weight: bold;
  text-align: center;
  background : var(--grey_dark);
}


/* creating the usdt page */


.usdt_qr{
  background: url(../photos/QR.png) center no-repeat contain;
}

.usdt_file_upload{
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  border-radius: 100vw;
  background-color: var(--white);
  position: relative;
  height: 3rem;
}
.usdt_file_upload > input{
  position: absolute;
  outline: none;
  color : transparent;
  height: 100%;
  width: 100%;
  border : none;
  background: transparent;
}
.usdt_text
{
  text-align: center;
  margin : 1rem 0;
}

input[type=file]::file-selector-button{
  padding : 0.25rem 1rem;
  text-align: center;
  margin-left: 30%;
  font-size: 1.24rem;
  text-transform: uppercase;
  border-radius: 100vw;
  height: 100%;
  background: var(--grey_dark);
  color : white;
  font-weight: bold;
}




/* creating the vip page */

#vip_page{
  background: #c7c7c7;
}

.vip_background{
  height : 83%;
  width: 100%;
  margin : 0 auto;
 padding : 0.25rem 0.5rem;
 background: url(../photos/vip_page_back.jpg) no-repeat center;
 background-size: cover;
}
.vip_privileges{
  width: 95%;
  padding : 0 0.5rem;
  margin : 0 auto;
  border-left : 5px solid red;
}

.vip_privileges > h4{
  text-align: center;
  display: inline;
}

.vip_bottom{
  width: 100%;
  bottom : 3rem;
  padding : 1rem 0;
  position: absolute;
  padding-bottom: 3rem;
  background: transparent;
}
.vip_range{
  padding : 0.5rem 2rem;
  align-items: center;
  display: flex;
}

.vip_range > div{
  border-radius: 100vw;
  position: relative;
  background: white;
  height : 0.5rem;
  width: 80%;
  border : 1px solid white;
}

.vip_range > div > span{
  background: linear-gradient(to right , white , red);
  border-radius: 100vw;
  border-radius: 100vw;
  position: absolute;
  width: 60%;
  height: 98%;
}
.vip_stats > div > span > h4{
  font-size: 14px;
  white-space: nowrap;
}

.vip_range > span{
  margin-left : 0.2rem;
  border-radius: 100vw;
  padding : 0 0.25rem;
  background : white;
  font-weight: bold;
  font-size: 11px;
  color : black;
}

.vip_stats{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  padding: 0 1rem;
  font-size: 12px ;
  line-height: 14px;
  margin-top: 2rem;
  grid-row-gap: 1rem;
}

.vip_stats > div{
  padding: 0 0.2rem;
  display: flex;
}

 .stat_logo{
  height : 2rem;
  width: 2rem;
  margin-right: 0.3rem;
  border-radius: 100%;
  box-shadow: 0 0 10px -4px var(--grey);
}
.star_logo{
  background: url(../photos/star.png) center no-repeat;
  background-size: 80%;
  background-color: white;
}
.money_logo{
  background: url(../photos/money.png) center no-repeat;
  background-size: 80%;
  background-color: white;
}
.money_withdraw_logo{
  background: url(../photos/money-withdrawal.png) center no-repeat;
  background-size: 80%;
  background-color: white;
}

.swiper {
  height : 100%;
  width: 100%;
  padding : 1rem 0;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  height: 100%;
  border-radius: 1rem;
  overflow: hidden;
  filter : blur(4px);

}
.swiper-wrapper{
  width: auto
}

.swiper-slide-active{
  filter : blur(0px);
}

.swiper-slide img{
  width: 100%;
  height: 100%;
  object-fit: scale-down;
  object-position: bottom;
}
.swiper-top , .swiper-bottom{
  position: absolute;
  left : 0.5rem;
}
.swiper-bottom{
  bottom : 1rem;
}

.swiper-top{
  top : 1rem;
}
.swiper-bg .swiper-bottom p{
  display: block;
  font-size: 0.9rem;
}


/* creating the records page  */
#records_page{
  z-index: 2;
}
.record-backg {
    height: 10rem;
    background: url(../photos/record_background.jpg) no-repeat;
    background-color: white;
    background-size: cover;
  }
.record-data{
    background-color: var(--background);
    overflow-y: scroll;
    height: calc(100% - 6rem);
    width: 100%;
    position: absolute;
    top: 6rem ;
    left: 0;
    border-top-left-radius:3rem;
    border-top-right-radius:3rem;
    box-shadow: 0 0 100px -1px black;
    padding-bottom: 70px;

}
.record-data > h2{
    padding: .5rem 0;
    width: 100%;
    text-align: center;
}
.match-card {
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    padding : 0.5rem;
    border-radius: 0.5rem;
    background: white;
}
.match-card > h3{
  background: white;
}
.div2{
  background-color: var(--background);
}
.match-card > .div2{
    overflow: hidden;
    background: var(--white);
    display: grid;
    grid-template-rows: 4rem;
    grid-template-columns:2fr 1fr 2fr;
}
.match-card > .div2 > span{
    overflow: hidden;
}
.match-card > .div2 > span > h3{
    white-space: nowrap;
}
.match-card .div2 span:nth-of-type(1){
    align-self: center;
    text-align: start;
    padding : 0 0.5rem;
}
.match-card .div2 span:nth-of-type(3){
    align-self: center;
}
.second-match-card{
    background-color: var(--grey_dark);
    padding : 0.25rem 0;
    width: 98%;
    margin : 0.6rem auto;
    line-height: 1.4;
    display: grid;
    place-items: center;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    border-radius: .5rem;
    text-transform: uppercase;
    color: white;
}
.vs_logo{
  background: url(../photos/vslogo.png) center no-repeat;
  background-size: 70%;
}



/* creating the trade page */

#trade_page{
  z-index: 2;
}

 .trade-backg{
  background: url(../photos/trade_background.jpg) center no-repeat;
  background-size: cover;
}

.trade_cancel_btn{
  display: flex;
  border-radius: 100vw;
  padding : 0 0.5rem;
  background : red;
  width: fit-content;
  align-items: center;
  align-self: end;
  margin-right: 0.2rem;
  color : white;
}

.trade_cancel_btn > h3{
  padding : 0 0.5rem;
}
.trade_cancel_btn > i{
  font-size: 1.2rem;
}

.trade_del_box{
  position: absolute;
  top : 50%;
  left : 50%;
  width: 80%;
  background: white;
  color : black;
  transform: translate(-50% , -50%);
  padding : 1rem 0.5rem 2rem 0.5rem;
  text-align: center;
}
.trade_del_box{
  display: none;
}


/* creating the home page */

.main-menu{
    display: none;
    background-color: #ededed;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0px 0px 20px #d4d4d4;

    width: 70px;
    height: calc(100vh - 60px);

    position: absolute;
    top: 0;
    left:0;

    overflow-x: hidden;
    overflow-y: hidden;
    white-space: nowrap;

    transition: .3s ease;
    color : transparent;
    z-index: 10;
}
.main-menu > ul > section > li > a{
  color : inherit;
  text-decoration: none;
}
.main-menu:hover{
    width : 250px;
    color : black;
    overflow-y: scroll;
}

.main-menu .menu-item{
    padding: 10px;
    display: flex;
    align-items: center;
    text-transform: capitalize;
}
.main-menu .menu-item:hover{
    background-color: #d6d6d6;
    cursor: pointer;

}

.main-menu .menu-item i{
    color: #666af6;
    width:40px;
    font-size: 25px;
    padding: 10px 5px;
}

.main-menu .menu-item:hover > .fa{
    color: #1d0daa;
    padding-right: 40px;
}

.main-section{
  height: 100%;
  width: calc(100% - 70px);
  margin-left : 70px;
  display: flex;
}
.match-section{
  flex : 2;
}

.pc-profile-section{
  padding : 0.5rem 1rem;
  flex : 1;
}

/* invitation section */
#invitation_pop{
  background : url(../photos/nj.jpg) center no-repeat;
  background-size: 100% 100%;
}

.invitaiton_link{
  padding : 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items : center;
  width: 95vw;
}

.invitation_box{
  padding : 3rem 0.5rem;
  background: var(--background);
  border-radius: 2rem;
}
.invitaiton_link > span{
  font-size: 1.5rem;
  color : black;
}

 .s_invitation{
   background: transparent;
   border : none;
   outline : none;
   color : black;
   font-size: 1.5rem;
   width : 80%;
 }

.invitation_box{
  position: absolute;
  top : 50%;
  left : 50%;
  transform: translate(-50% , -50%);
}

/* match-section */

.main-section > section{
  display: flex;
  overflow-x: hidden;
  background: var(--background);

}

.match-section{
  flex-direction: column;
  align-items : center;
  justify-content: none;
  position: relative;
  height: 100%;
}

 /* sliding section*/

.slider{
  width: 30rem;
  max-width: 98%;
  height : 12rem;
  margin-top: 1rem;
  box-shadow:  0 10px 19px -6px var(--grey);
}

@keyframes tonext {
  75% {
    left: 0;
  }
  95% {
    left: 100%;
  }
  98% {
    left: 100%;
  }
  99% {
    left: 0;
  }
}

@keyframes tostart {
  75% {
    left: 0;
  }
  95% {
    left: -300%;
  }
  98% {
    left: -300%;
  }
  99% {
    left: 0;
  }
}

@keyframes snap {
  96% {
    scroll-snap-align: center;
  }
  97% {
    scroll-snap-align: none;
  }
  99% {
    scroll-snap-align: none;
  }
  100% {
    scroll-snap-align: center;
  }
}


ol, li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.carousel {
  position: relative;
  height: 100%;
  filter: drop-shadow(0 0 10px #0003);
  perspective: 100px;
}

.carousel__viewport {
  /* position: absolute; */
  top: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  left: 0;
  display: flex;
  overflow : hidden;
  counter-reset: item;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
}

.carousel__slide {
  position: relative;
  flex: 0 0 100%;
  width: 100%;
  height: 100%;
  counter-increment: item;
}

.carousel__slide:nth-child(1) {
  background: url('../photos/INVITE.jpg') no-repeat center;
  background-size: 100% 100%;
}

.carousel__slide:nth-child(2) {
  background: url('../photos/BONUS.jpg') no-repeat center;
  background-size: 100% 100%;
}

.carousel__slide:nth-child(3) {
  background: url('../photos/AGENT.jpg') no-repeat center;
  background-size: 100% 100%;
}

.carousel__slide:nth-child(4) {
  background: url('../photos/SALARY.jpg') no-repeat center;
  background-size: 100% 100%;
}

.carousel__slide:before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%,-40%,70px);
  color: #fff;
  font-size: 2em;
}

.carousel__snapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  scroll-snap-align: center;
}

.carousel__snapper {
    animation-name: tonext, snap;
    animation-timing-function: ease;
    animation-duration: 4s;
    animation-iteration-count: infinite;
  }

  .carousel__slide:last-child .carousel__snapper {
    animation-name: tostart, snap;
  }

@media (prefers-reduced-motion: reduce) {
  .carousel__snapper {
    animation-name: none;
  }
}

.carousel:hover .carousel__snapper,
.carousel:focus-within .carousel__snapper {
  animation-name: none;
}

.carousel__navigation {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
}

.carousel__navigation-list,
.carousel__navigation-item {
  display: inline-block;
}

.carousel__navigation-button {
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  background-color: #333;
  background-clip: content-box;
  border: 0.25rem solid transparent;
  border-radius: 50%;
  font-size: 0;
  transition: transform 0.1s;
}

.carousel::before,
.carousel::after,
.carousel__prev,
.carousel__next {
  position: absolute;
  top: 50%;
  width: 4rem;
  height: 4rem;
  display: none;
  transform: translateY(-50%);
  border-radius: 50%;
  font-size: 0;
  outline: 0;
}

.carousel::before,
.carousel__prev {
  left: -1rem;
}

.carousel::after,
.carousel__next {
  right: -1rem;
}

.carousel::before,
.carousel::after {
  content: '';
  z-index: 1;
  background-color: transparent;
  background-size: 1.5rem 1.5rem;
  background-repeat: no-repeat;
  background-position: center center;
  color: #fff;
  font-size: 2.5rem;
  line-height: 4rem;
  text-align: center;
  pointer-events: none;
}

.carousel::before {
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolygon points='0,50 80,100 80,0' fill='%23fff'/%3E%3C/svg%3E");
}

.carousel::after {
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolygon points='100,50 20,100 20,0' fill='%23fff'/%3E%3C/svg%3E");
}


/* slider popup */

.slider-popup{
  position: absolute;
  top : 0;
  left: -100vw;
  height: 100%;
  width: 100%;
  display: grid;
  place-items: center;
  backdrop-filter: brightness(0.23);
}

.background{
  height : 20rem;
  margin-bottom: 25%;
  width : 95%;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}


/* slider section ends here */

/* random edits */
#user-info{
  border-radius: 0.24rem;
  box-shadow: 0px 4px 5px -4px;
}

/* random edits */


/* match box and cards */

.matches-box{
  height: calc(100vh - 120px - 11rem);
  width: 100%;
  color : black;
  overflow: scroll;
  margin-top: 1rem;
  padding : 0 0.5rem;
  padding-bottom: 70px;
  /* display: none; */
}
#matches_box{
  left : -100vw;
}

#virtual_match_box{
  height: calc(100vh - 120px - 11rem);
  width: 100%;
  position: absolute;
  left : -100vw;
  color : black;
  overflow: scroll;
  margin-top: 1rem;
}

#profile-box{
  padding : 0.5rem 1rem;
  height: max-content;
  margin-top: 2rem;
  width: 90%;
  color : white;
  background: linear-gradient(124deg, #323136, transparent);
  border-radius: 20px;
  box-shadow:  5px 5px 8px #242366,
             -5px -5px 8px #908bff;
}
.profile-logo{
  width: 100%;
  height: 8rem;
  display: flex;
  background: url('../photos/LOGO.png') center no-repeat;
  background-size: 90%;
}

#profile-info{
  height: auto;
  width : 100%;
  padding : 1rem 0.5rem;
}

#profile-info > ul > li{
  display: flex;
  justify-content : space-between;
  padding : 0.5rem 1rem;
  text-transform: capitalize;
  border-bottom : 1px solid blue;
}
#profile-info > ul > li > span{
  display: flex;
  width: 100%;
}


.spinner_pop_btn{
  position: fixed;
  bottom : 15%;
  background : url(../photos/casino.png) center;
  background-size: contain;
  color : black;
  background-color : transparent;
  height: 3.5rem;
  width: 3.5rem;
  font-size: 25px;
  right : 1rem;
  box-shadow: 0 0 10px transparent;
  display: grid;
  place-items: center;
}

.wrapper {
  width: 90%;
  max-width: 34.37em;
  max-height: 80vh;
  background-color: #ffffff;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  padding: 3em;
  border-radius: 1em;
  box-shadow: 0 4em 5em rgba(27, 8, 53, 0.2);
}
.container {
  position: relative;
  width: 100%;
  height: 100%;
}
#wheel {
  max-height: inherit;
  width: inherit;
  top: 0;
  padding: 0;
}
@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}
#spin-btn {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  height: 26%;
  width: 26%;
  border-radius: 50%;
  cursor: pointer;
  border: 0;
  background: radial-gradient(#fdcf3b 50%, #d88a40 85%);
  color: #c66e16;
  text-transform: uppercase;
  font-size: 1.8em;
  letter-spacing: 0.1em;
  font-weight: 600;
}
.wrapper > .container > img {
  position: absolute;
  width: 4em;
  top: 45%;
  right: -8%;
}
#final-value {
  font-size: 1.5em;
  text-align: center;
  margin-top: 1.5em;
  color: #202020;
  font-weight: 500;
}

.home_decorations{
  padding : 0.5rem 0;
  width: 98%;
  margin-top: 0.5rem;
  position: relative;
  border-radius: 100vw;
  /* margin : 4rem auto; */
  margin-bottom: 0;
}

.home_league_spec{
  display: flex;
  position: relative;
  width: 98%;
  border-radius: 100vw;
  margin : 0 auto;
  box-shadow: 0 0 10px -5px var(--grey);
  padding : 0.5rem;
  background: white;
  justify-content: space-between;
}

.home_league_spec > h2{
  background: #ff2f2f;
  color : white;
  letter-spacing: 3px;
  padding : 0.25rem 1rem;
  width: 40%;
  text-align: center;
  border-radius: 100vw;
}

.home_football{
  height: 6rem;
  position: absolute;
  width: 6rem;
  left: 50%;
  transform: translateX(-50%);
  top: -80%;
  border-radius: 100%;
  background: url(../photos/Football.png) center no-repeat;
  background-size: contain;
  outline : none;
  background-color: transparent;
}

.decor_1_red{
  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
  background: linear-gradient(to top , #efc288 , #d4c9da);
  border-top-right-radius: 5rem;
  border-top-left-radius: 5rem;
  height : 10rem;
  z-index: 4;
}

/* bets section  */


#bet-box{
 background: var(--background);
}
.bet_box_top{
  text-align: center;
  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
  color : white;
  height: 12rem;
  background: url(../photos/bet_background.jpg) center no-repeat;
  background-size: cover;
  padding-top : 1rem;
}
.bet_box_teams{
  height: 10rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  place-items: center;
  grid-template-rows: 6rem;
  place-content: center;
}
.bet_box_teams > div {
  height: 100%;
  width: 100%;
  place-items: center;
  display: flex;
  flex-flow: column;
}
.bet_box_teams > div > span{
  height: 5rem;
  width: 5rem;
  background: url(../photos/Football.png) center no-repeat;
  background-size: contain;
}

#bet-box .vs_logo{
  background : url(../photos/vs.png) center no-repeat;
  background-size: 70%;
}

.bet_data_titles{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  border-radius: 100vw;
  width : 95%;
  place-items: center;
  place-content: center;
  margin : 1rem auto;
  background: white;
  box-shadow: 0 0 10px var(--grey);
  padding : 0.5rem 1rem;
}
.bet_data_titles > span{
  color : white;
  width: 95%;
  letter-spacing: 2px;
  font-weight: bold;
  border-radius: 100vw;
  padding : 0.5rem 1rem;
  background: var(--grey_dark);
  text-align: center;
}
.bet_profit_data{
  height: calc(100% - 120px - 9rem);
  background: white;
  padding : 1rem 0;
  padding-bottom: 60px;
  overflow: scroll;
  border-top-right-radius: 3rem;
  border-top-left-radius: 3rem;
}
.bet_profit_data > div{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  place-items: center;
  border-bottom: 0.1px solid grey;
  margin-top: 1rem;
  place-content: center;
  padding: 0.5rem 0 ;
  width: 95%;
  margin : 1rem auto;
  text-align: center;
}
.bet_profit_data > div > span > h5{
  padding : 0 1rem;
  background: var(--grey_dark);
  border-radius: 100vw;
  text-align: center;
}

.place_bet_popup{
  display: none;
  position: absolute;
  top : 50%;
  box-shadow: 0 0 100px 100px var(--grey_dark);
  left : 50%;
  background: white;
  border-radius: 2rem;
  max-width: 600px;
  transform:  translate(-50% , -50%);
  padding : 1rem 0.5rem;
  width: 90%;
  text-align: center;
}
.place_bet_popup > span{
  margin : 1rem 0 ;
  overflow: hidden;
}
.place_bet_popup > span > h4{
  white-space: nowrap;
}
.full_time{
  display: flex;
  justify-content: center;
}
.date_time{
  display: flex;
  justify-content: space-evenly;
  width: 60%;
  border-radius: 100vw;
  margin : 1rem auto !important;
  padding : 0.25rem 1rem;
  background: var(--grey_dark);
  color : white;
}
.final_teams{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.final_bet_data{
  margin-top: 1rem;
  background: var(--grey_dark);
  color : white;
  padding : 0.5rem;
  border-radius: 1.25rem;
}
.bet_calculation{
  border-radius: 1.5rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  place-items: center;
  place-content: center;
}
.bet_calculation > input{
  outline : none;
  border : none;
  text-align: center;
  color : black;
  height: 100%;
  width: 100%;
  border-radius: 100vw;
}
.bet_calc_btns > h6{
  text-align: end;
  padding : 0.5rem;
}

.balance{
  align-self: flex-start;
  place-content: start;
  display: flex;
  width: auto;
  max-width: 60%;
  border-radius: 100vw;
  justify-content: space-between;
  background: var(--grey_dark);
  color : white;
  padding : 0.5rem 1rem;
  font-weight: bold;
}
.bet_btns{
  display: grid;
  grid-template-columns: repeat(5 , 1fr);
  grid-column-gap: 0.2rem;
}

.bet_btns > span{
  cursor: pointer;
  width : 97%;
  font-size: 0.6rem;
  border-radius: 100vw;
  border : 1px solid white;
  white-space: nowrap;
  color : white;
  padding: 0.3rem 1rem;
  text-align: center;
}
/* bets section ends here */

/* creating the promotion page */
#promotion_page {
  background-color: var(--background);
}
#promotion_page > div{
  height: 10rem;
  width : 95%;
  margin : 1rem 0;
}

.promotion-back:nth-child(1){
  background : url('../photos/INVITE.jpg') no-repeat center;
  background-size: contain;
}
.promotion-back:nth-child(1){
  background : url('../photos/INVITE.jpg') no-repeat center;
  background-size: contain;
}
.promotion-back:nth-child(2){
  background : url('../photos/AGENT.jpg') no-repeat center;
  background-size: contain;
}
.promotion-back:nth-child(3){
  background : url('../photos/BONUS.jpg') no-repeat center;
  background-size: contain;
}
.promotion-back:nth-child(4){
  background : url('../photos/SALARY.jpg') no-repeat center;
  background-size: contain;
}
.promotion-back:nth-child(5){
  background : url('../photos/AGENCY.jpg') no-repeat center;
  background-size: contain;
}

/* creating the tutorial page */
#tutorial_page{
  backdrop-filter: blur(6px);
}

#tutorial_page > .tutorial_box{
  margin : 0 auto;
  margin-top: calc(50vh - 5rem);
  height : 10rem ;
  width: 90vw;
  max-width: 600px;
}
.tutorial_box > video{
  position: absolute;;
  top : 50%;
  left: 50%;
  transform: translate(-50% , -50%);
  width: 90vw;
  max-width: 600px;
}


/* creating the affiliate_page */

#affiliate_page{
  background: var(--background);
}

.aff-top{
  height: auto;
  width: 100%;
  padding-bottom: 2rem;
  background: linear-gradient(to right, #242424, #706f70);
  color : black;
  border-bottom-right-radius: 2rem;
  border-bottom-left-radius: 2rem;
}

.aff-name{
  border-bottom-left-radius: 25%;
  color : white;
  border-bottom-right-radius: 25%;
  text-transform: uppercase;
  box-shadow: 0px 0px 2px;
  padding : 1rem 0.5rem;
  background:  linear-gradient(to bottom, #ce5e6f 25.95%, #d3836b 116.97%);;
  text-align: center;
}

.aff-rebade-bonus , .aff-blocks{
  padding : 1rem 0.5rem;
  display: grid;
  grid-template-columns: auto auto;
  color : white;
  text-transform: capitalize;
}

.aff-rebade-bonus > div , .aff-blocks > div{
  display: grid;
  grid-template-rows: auto auto;
  grid-row-gap: 1rem;
  place-items: center;
}
.aff-rebade-bonus > div > span:last-child{
  color : white;
  font-weight: 900;
}
.aff-blocks{
  grid-template-columns: 1fr 1fr;
}
.aff-blocks > div > ion-icon{
  font-size: 30px;
}
.aff_edits{
  background: #1c1c1c;
  border-radius: 100vw;
  padding : 0.5rem 1rem;
}
.aff_back_btn{
  background: black;
  color: white;
  padding: 0.5rem;
  width: 20%;
  margin-top: 1rem;
  border-top-left-radius: 2rem;
  font-size: 20px;
  margin-left: calc(100% - 20%);
  border-bottom-left-radius: 2rem;
}

.aff-bottom{
  padding: 1rem 0.5rem;
  background: var(--background);
  color : black;
  overflow-y: scroll;
}

.aff-bottom > div{
  padding : 0.5rem 1rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-transform: capitalize;
  box-shadow: 0 0 10px -4px var(--grey);
  color : black;
  margin : 0.5rem 0 ;
  border-radius: 100vw;
}

.aff-bottom > div > span{
  font-weight: bold;
}

.aff-bottom > div > ion-icon
{
 color : red;
  padding-right: 1rem;
  font-size: 30px;
}
.aff-bottom > div > i{
  color : red;
  padding-right: 1rem;
  font-size: 24px;
}
 /* popups stylings  */
.aff_popups{
  position: absolute;
  left : -100vw;
  top : 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(150deg , #aedbea , #ffb8ef);
  }

.aff_popups > .aff_pops_top{
  padding : 0.5rem 1rem;
}
.aff_popups > .aff_pops_top > div{
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0.5rem;
  place-items: center;
  background: white;
  border-radius: 100vw;
}
.aff_popups > .aff_pops_top > div:first-child{
  padding : 1.5rem 0.5rem;
}

.aff_popups > .aff_pops_top > div:first-child > h3{
   background: var(--grey_dark);
   border-radius: 100vw;
   padding: 0.25rem 1rem;
   text-align: center;
   color : white;
}

.aff_pops_bottom {
  margin-top: 1rem;
  height : calc(100% - 120px - 5rem);
  width: 100%;
  overflow-y: scroll;
  background: var(--background);
  border-radius: 2rem;
  padding: 2rem 0;
}

.aff_bottom_titles > h3{
  background: var(--grey_dark);
  color : white;
  padding : 0.5rem 1rem;
  text-align: center;
}

.aff_bottom_titles , .aff_data_containers{
  display: grid;
  grid-template-columns: repeat(3 ,1fr);
  gap : 0.5rem;
  text-align: center;
}

.aff_bottom_titles{
  padding : 0 1rem;
}
.aff_bottom_titles > h3{
  border-radius: 100vw;
}

.aff_data_containers{
  line-height: 2;
}

.aff_bottom_contents{
  border-radius: 2rem;
  overflow-y: scroll;;
  width: 95%;
  padding : 2rem;
  margin : 1rem auto;
  height: 100%;
  background: white;
  box-shadow: 0 0 10px -3px var(--grey);
}

.aff_bottom_contents > div{
  width: 95%;
  margin : 1rem auto;
  border-bottom: 1px solid var(--grey);
}

/* affiliate page ends here  */

#spinner{
  backdrop-filter: blur(7px);
}

@media screen and (min-width : 490px){
 /* pc media querry */
  html{
    font-size: 20px;
  }
  #bet-box{
    width : calc(100% - 70px);
  }
  main .main_pages{
    height: 100% !important;
    padding-bottom: 0;
  }
  .profile_pop_middle{
    padding-bottom: 5rem;
  }
  .profile_middle{
    height: calc(100%  - 28%);
  }
 .info_popups{
   height: 100%;
 }
  .slider {
    height : 19rem;
  }
  .matches-box{
    height: calc(100vh - 60px - 11rem);
  }
  #withdraw_ammount{
    bottom : 33%;
    right : 5rem;
  }

  #trade-list .vs-img , #records .vs-img{
    background-size: 35%;
  }
  .spinner_pop_btn{
    right : 2rem;
  }
  .main-menu{
    display: block;
  }
  footer {
    display: none;
  }
  #promotion > div {
    height : 20rem;
  }
  #profile_page{
    max-width: 60%;
    box-shadow: 100px 0 800px black;
  }
  .m-popup-menue{
    display: none;
  }
  main{
    height : calc(100vh - 60px);
  }
}

@media screen and (max-width : 490px ){
/* mobile media querry */
 .slider{
   width: 100vw;
   height: 14rem;
 }
  .main-section{
    display: block;
    width: 100%;
    margin-left: 0;
  }

 .vs-img{
    background-size: 55%;
  }
  html{
    font-size : 14px;
  }
  .payment_card{
    width: 95%;
  }
  #main-box{
    min-width: 100vw;
  }
  .pc-profile-section{
    display: none !important;
  }
  .aff-pop-center{
    width: 100%;
  }
}


/* hiding some important data */
.hidden{
  position: absolute;;
  display: none;
}
.league_id{
  position: absolute;
  display: none;
}

.lime{
    color: lime !important;
}
